<div class="widget">
  <h4>Resources</h4>
  <ul class="categories">
    <li>
      <a href="https://www.mindsetkit.org" target="_blank">
        PERTS Mindset Kit
      </a>
      <br>
      A free set of online courses, lessons, and practices for educators and parents who want to foster adaptive learning mindsets.
      <a href="https://www.mindsetkit.org" target="_blank">
        <img src="/static/mindsetkit-image.png" alt="The Mindset Kit">
      </a>
    </li>

    <li>
      <a href="//www.mindsetworks.com/programs/mindsetmaker/" target="_blank">
        Mindset Maker</a>&#8482;
      <br>
      Suite of resources for teachers and administrators
      <a href="//www.mindsetworks.com/programs/mindsetmaker/" target="_blank">
        <img src="/static/mindsetmaker.png" alt="MindsetMaker logo"/>
      </a>
    </li>

    <li>
      <a href="//www.mindsetworks.com/programs/brainology-for-schools/" target="_blank">
        Brainology For Schools
      </a>
      <br>Students grades 4-9
      <a href="//www.mindsetworks.com/programs/brainology-for-schools/" target="_blank">
        <img src="/static/brainology_for_schools.jpg" alt="Brainology For Schools logo"/>
      </a>
    </li>
</div>

<div class="widget">
  <h4>Readings</h4>
  <ul class="categories">
    <li><a href="https://app.box.com/shared/static/4y3evbxup5ko1wn2c40w.pdf" target="_blank">Learn About Praise,<br> Gunderson, Gripshover, Romero, Dweck, Goldin-Meadow, &amp; Levine, 2013</a></li>
    <li><a href="https://app.box.com/shared/static/r49zsfqqitus4i43wnnw.pdf" target="_blank">Learn About Mindset and Mistakes,<br> Moser, Schroder, Heeter, Moran, &amp; Lee, 2011</a></li>
    <li><a href="http://p3.perts.net/static/documents/PERTS_Summary_January_2014.pdf" target="_blank">Learn about PERTS Results,<br> Executive Summary</a></li>
    <li><a href="http://ccsr.uchicago.edu/publications/teaching-adolescents-become-learners-role-noncognitive-factors-shaping-school" target="_blank">Learn About Mindsets,<br> CCSR Report</a></li>
    <li><a href="http://www.hightechhigh.org/unboxed/issue10/mindsets_and_student_agency_contributors/">More About Mindsets,<br> Mindsets and Student Agency by Eduardo Briceño</a></li>
    <li><a href="http://community.mindsetworks.com/newsletter">Mindset Works&reg; Newsletter</a></li>
  </ul>
</div>