{% extends "base.html" %}

{% block title %}PERTS Academic Mindsets Assessment{% endblock %}

{% block head %}
<!--
  Share

  Allow a user to get links to perfom and share a survey

  bmh Nov 2012

-->
    <script src="/js/mindsetMeter.js"></script>
    <script src="/js/jquery.cookie.js"></script>

   	<script type='text/javascript'>
    $(document).ready(function () {
      "use strict";

      // API wrappers
      function post_email(event) {
        $('#emailError').html('');
        mm.post_email(
          event,
          '{{name}}',
          '{{private_key}}',
          $('#address').val(),
          function(result){
            if(result.ok){
              $('#email').html('Email Sent')
            }
            else {
              $('#emailError').html('Error with address');
              mm.post_error(event, "Could not send email to " + $('#address').val())
            }
          }
        );
      }

      function reset_keys(event){
        event.preventDefault();
        mm.reset_keys('{{name}}', render_group_links);
      }

      // Rendering Functions
      function render_group_links(keys){
        // Populate Invitation and Results links
        $('#group_invite').html( mm.get_root() + "/take/{{name}}?public_key=" + keys.public_keys[0] );
        $('#group_results').html( mm.get_root() + "/results/" + keys.private_keys[0] );
      }

      // Event Bindings
      $('#email').submit(post_email);
      $('#email').submit(reset_keys);

      // Onload
      // Give the user a pair of keys to share if they don't already have their own
      mm.ensure_cookie_has_keys('{{name}}', render_group_links);

    });
	</script>

{% endblock %}

{% block content %}

<!-- The survey description will automatically load here -->

<div class="static-page about-page">

  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Academic Mindsets Assessment</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container container--main">
    <div class="row">
      <div class="col-sm-9">

        <p>
          Students with adaptive academic mindsets are more engaged in learning, more resilient in the face of setbacks, and more academically successful.
        </p>
        <a href="#learn" class="action-button">Learn about the Science</a>
        &nbsp;&nbsp;
        <a href="#start" class="action-button">Use the Assessment</a>

        <div class="static-page-section" id="demo">
          <h2>How it works... in 55 seconds.</h2>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/JVe_0w_Kd3E?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="static-page-section" id="start">
          <h2>Learn students' mindsets in 10 minutes</h2>
          <div class="instruction"><div class="dropcap">1</div>
            Enter your email and click "Send me the links"
            <div class="email_link_form">
              <form id="email" style="display:inline;">
                <input id="address" placeholder="Your email address here" >
                <a onmousedown="$('#email').submit();" type='submit' class="action-button" >Send me the links</a>
              </form>
              <br>
              <span id="emailError" class="error-message"></span>
            </div>
          </div>
          <div class="instruction"><div class="dropcap">2</div>
            Find the <strong>Survey Link</strong> and <strong>Report Link</strong> in your email
          </div>
          <div class="instruction"><div class="dropcap">3</div>
            Ask your students to visit the <strong>Survey Link</strong> and complete the survey
          </div>
          <div class="instruction"><div class="dropcap">4</div>
            Visit the <strong>Report Link</strong> to see their mindsets and find resources
          </div>
        </div>

        <div class="static-page-section" id="see">
          <h2>See the Assessment</h2>
          <p>
            This assessment was created to accompany <a href="http://dlmooc.deeper-learning.org/">Deeper Learning MOOC</a>, a collaborative exploration of deeper learning supported by the <a href="http://www.hewlett.org/">Hewlett Foundation.</a>
          </p>
          <p>
            The scales in this assessment have been developed by researchers at Stanford University and the University of Chicago CCSR. They are valid measures of students' academic mindsets if used once, but they are not meant to be given multiple times. Look at the assessment to see what surveyed students will experience. View the sample report to see the information you will be provided.
          </p>
          <a id='take_link' href='/take/{{name}}' class="action-button">See the assessment</a>
          &nbsp;&nbsp;
          <a id='report_link' href='/sample/{{name}}' class="action-button">See a sample report</a>
        </div>

        <div class="static-page-section" id="learn">
          <h2>About Academic Mindsets</h2>
          <p>
            Academic mindsets are students' beliefs about themselves in relation to school and learning. A recent report by the University of Chicago Consortium on Chicago School Research (CCSR) identified four key academic mindsets that reliably predict positive academic behaviors, perseverance, and academic performance. Expressed from students' point of view, these mindsets are:
          </p>
          <ol>
            <li>I belong in this academic community (Belonging) </li>
            <li>My ability and competence grow with my effort (Growth Mindset) </li>
            <li>I can succeed at this (Self-efficacy) </li>
            <li>This work has value for me (Relevance/Purpose) </li>
          </ol>
          <p>
            <a href="http://ccsr.uchicago.edu/publications/teaching-adolescents-become-learners-role-noncognitive-factors-shaping-school" target="_blank">Read the CCSR Report</a>
          </p>
        </div>

        <div class="static-page-section" id="benefits">
          <h2>Benefits of Adaptive Academic Mindsets</h2>
          <img src="//www.perts.net/static/images/middle_school_students.jpg"/>
          <h3>Positive academic behaviors</h3>
          <p>
            Students with adaptive mindsets take more agency over their own learning. They are more likely to engage in behaviors such as:
          </p>
          <ul>
            <li>Going to class</li>
            <li>Doing homework</li>
            <li>Organizing materials</li>
            <li>Participating, studying</li>
          </ul>

          <br><br>

          <img src="//www.perts.net/static/images/about_plant.jpg"/>
          <h3>Perseverance</h3>
          <p>
            Adaptive mindsets help students remain resilient in the face of challenges or setbacks. Students with adaptive mindsets show greater:
          </p>
          <ul>
            <li>Grit, tenacity</li>
            <li>Delayed gratification</li>
            <li>Self-discipline</li>
            <li>Self-control</li>
          </ul>

          <br><br>

          <img src="//www.perts.net/static/images/results.png"/>
          <h3>Academic Performance</h3>
          <p>
            Through academic mindsets' effects on positive academic behaviors and perseverance, academic mindsets help students do better in school. When students adopt more adaptive mindsets, they:
          </p>
          <ul>
            <li>Earn higher grades</li>
            <li>Pass more courses</li>
            <li>Earn more satisfactory grades (see above)</li>
          </ul>
          </p>
          <p>
            Researchers at <a href="//www.perts.net">PERTS</a> are applying mindset research to improve student achievement across the nation.
          </p>
        </div>

        <div class="static-page-section" id="sponsors">
          <h2>Sponsors</h2>
          <p>
            Free use of the Mindset Meter is generously supported by the William and Flora
            Hewlett Foundation and the Raikes Foundation.
          </p>
          <a href="//raikesfoundation.org/"><img src="/static/raikes_logo.png" /></a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="//www.hewlett.org/"><img src="/static/hewlett.png" /></a>
        </div>

        <div class="static-page-section" id="readings">
          <h2>Readings</h2>
          <ul class="categories">
            <li><a href="http://ccsr.uchicago.edu/publications/teaching-adolescents-become-learners-role-noncognitive-factors-shaping-school" target="_blank">Learn About Mindsets,<br> CCSR Report</a></li>
            <li><a href="//www.perts.net/static/documents/yeager_walton_2011.pdf" target="_blank">Learn About Mindset Interventions,<br> Yeager &amp; Walton</a></li>
            <li><a href="//www.perts.net/static/documents/PERTS_Summary_January_2014.pdf" target="_blank">Learn about PERTS Results,<br> Executive Summary</a></li>
            <li><a href="http://www.hightechhigh.org/unboxed/issue10/mindsets_and_student_agency_contributors/">More About Mindsets,<br> Mindsets and Student Agency by Eduardo Briceño</a></li>
          </ul>
        </div>

      </div><!-- .col-sm-9 -->

      <!-- Sidepanel with navigation -->

      <div class="col-sm-3 hidden-xs">
        <div class="side-navigation" data-spy="affix" data-offset-top="282" data-offset-bottom="">
          <ul>
            <li><a href="#demo">How It Works</a></li>
            <li><a href="#start">Get Started</a></li>
            <li><a href="#see">See Samples</a></li>
            <li><a href="#learn">About Academic Mindsets</a></li>
            <li><a href="#benefits">Benefits of Academic Mindsets</a></li>
            <li><a href="#sponsors">Our Sponsors</a></li>
            <li><a href="#readings">Further Reading</a></li>
          </ul>

        </div>
      </div>

    </div><!-- .row -->
  </div><!-- .container -->

</div>

{% endblock %}


