Take a moment to think of the lowest-performing students in your classes. Realistically, how possible do you think it is for some of these students to turn their grades around and perform at a high level in their class?
1-5 "Not at all possible" to "extremely possible"
This year, have you led a group discussion or interactive activity with at least one of your classes about having a "growth mindset"?
1-4 "No, not at all", "Yes, one class", "Yes, 2-3 classes", "Yes, more than 3 classes"
I can get impatient when students can't keep up.
1-7 "Strongly Disagree" to "Agree"
How important is it for students to acquire basic skills in their classes before engaging in conceptual problems?
1-5 "not at all important" to "extremely important"
I encourage students to invent their own methods of doing the work in my classes.
1-7 "Strongly Disagree" to "Agree"
My students generally aren't ready to grapple with open-ended projects in class without my continual support.
1-7 "Strongly Disagree" to "Agree"
Imagine that one of your students was very discouraged in class. The student kept getting low grades on assignments. The student didn’t always try, but when he or she did try hard, the student would still get things wrong, even after practicing. How likely would you be to say: “Let’s see what you don’t understand and I’ll explain it differently.”
1-5 "Not at all likely" to "Extremely likely"
I emphasize to my students that it is okay to make mistakes so we can learn from them.
1-7 "Strongly Disagree" to "Agree"
When you break your classes into groups, how often do you deliberately create mixed-ability groups?
1-5 "Not at all often" to "Extremely often"
When I break my students into groups, I make sure that low-achieving students can hold roles of responsibility in their groups.
1-7 "Strongly Disagree" to "Agree"
If a student says something incorrect, I move quickly to provide the correct answer to make sure that other students don't get confused.
1-7 "Strongly Disagree" to "Agree"
Even if a student didn't really put in a lot of effort, praising their effort encourages them to try harder next time.
1-7 "Strongly Disagree" to "Agree"
I give my students opportunities to make up or redo assignments for which they have low or missing grades.
1-7 "Strongly Disagree" to "Agree"
How often do you provide students with detailed feedback about their homework?
1-5 "Not at all often" to "Extremely often"
"Imagine one of your students was doing very well in class. The student is getting really high grades on assignments, often without trying or putting in much time, and the student doesn’t ask questions because he or she isn’t confused by very much. How likely would you be to say to this student: “Great. What’s your next challenge?” "
1-5 "Not at all likely" to "Extremely likely"
