{% extends "base.html" %}

{% block title %}MM2 Demo Complete{% endblock %}

{% block head %}

<!--
  Results

  Show results to a user based on the key they arrived with.

  bmh Nov 2012

-->

<script src="/js/jquery.cookie.js"></script>
<script src="/js/serializeObject.min.js"></script>
<script src="/js/mindsetMeter.js"></script>
<script src="/js/logErrors.js"></script>

<script type="text/javascript">
/* global JSON */
var answers = JSON.parse('{{ answers }}');

// Assume there are no results to display, but if there are, show the user
// a little report on just their answers.
// This can be turned off for any assessment where this is not desired.
$(function () {
    'use strict';
    if (answers.length === 0) {
        // In the MM2 Demo assessment, we don't want to show a completion
        // report. This comment is here to show how you could.
        $('#report').show();
    }
});
</script>

{% endblock %}

{% block content %}

<div class="survey-page--completed">

    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <h1>Thank you for completing this survey</h1>
                <p>
                    Your answers have been logged. They will be provided to the
                    individual that invited you to participate.
                </p>

                <!-- In future MM2 surveys, when you want to show an
                     individual report, it could look like this: -->
<!--
                <div id="report" style="display:none">
                    <pre>{{ answers }}</pre>
                </div>
                <hr>
                <br>
-->

            </div>
        </div>
    </div>

</div>

 <!-- Google Code for Looked at results Conversion Page -->

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1008646530;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "7QA2COaUqAQQgvP64AM";
var google_conversion_value = 5;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1008646530/?value=5&amp;label=7QA2COaUqAQQgvP64AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


{% endblock %}

