{% extends "base.html" %}

{% block title %}No responses collected yet!{% endblock %}

{% block head %}
<!-- 
  Results

  Show results to a user based on the key they arrived with.

  bmh Nov 2012

-->
{% endblock %}

{% block content %}

<div class="survey-page--no-responses">

	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

				<h1>No responses collected... yet</h1>	
				<p>
					You are visiting the assessment "Report" page, but no assessments have been collected yet.
				</p>

				<a href="/" class="action-button">Return Home</a>

				<br>
				<hr>
				<br>

				<h3>Instructions</h3>
				<div class="instruction"><div class="dropcap">1</div>
					Use the <strong>Survey Link</strong> in your email to collect responses.
				</div>
				<div class="instruction"><div class="dropcap">2</div>
					Visit this page using the <strong>Report Link</strong> to see the responses and get recommendations for practice.
				</div>	

				<br>
				<hr>
				<br>

		    <h3>Sponsors</h3>
		    <p>
		    	Free use of the Mindset Meter is generously supported by the William and Flora Hewlett Foundation and the Raikes Foundation.
		    </p>
				<br><br>
				<a href="//raikesfoundation.org/"><img src="/static/raikes_logo.png" /></a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="//www.hewlett.org/"><img src="/static/hewlett.png"/></a><br>

				<br>
				<hr>
				<br>

				<h3>Questions, suggestions, requests?</h3>
				<p>
					This is just an early prototype of Mindset Meter. We would love to hear how to improve it to better serve educators and students. Send questions, suggestions, and requests to <a href="</a>.
				</p>		

			</div>
		</div>
	</div>

</div>




<style type='text/css'>
#results_table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}
#results_table th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#results_table td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
#results_table tbody tr:hover td
{
	color: #009;
}

#fork {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}


.chart {
	color:#33CC33;
	font-size: 1.8em;
}

.legend {
    width: 100%;
}

.legend .title {
    display: block;
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
}
</style>
 

 <!-- Google Code for Looked at results Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1008646530;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "7QA2COaUqAQQgvP64AM";
var google_conversion_value = 5;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1008646530/?value=5&amp;label=7QA2COaUqAQQgvP64AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript> 

	    
{% endblock %}

